#POSTGRESQL
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DATABASE=postgres

#LETSENCRYPT
SUBDOMAIN_HASURA=<subdomain>
LETSENCRYPT_EMAIL_MAIN=<email>

#HASURA
HASURA_ADMIN_SECRET_KEY=<admin_secret>
HASURA_JWT_SECRET=<jwt_secret>
HASURA_CORS_DOMAIN="*"